<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzy.mapper.SysUserMapper">
    <resultMap type="SysUser" id="su">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="status_id" property="userStatus"/>
    </resultMap>
    <sql id="fa">
        user_id,user_name,user_password,status_id
    </sql>
    <select id="findAll" resultMap="su">
        select
        	<include refid="fa"></include>
        from ht_sys_user
    </select>
    <select id="findUserByName" resultMap="su">
        select
        	<include refid="fa"></include>
        from ht_sys_user
    </select>
</mapper>